.formFixedFooter {
  position: fixed;
  z-index: 4;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height:45px;
  background-color: #f7f7f7;
  border-top: 1px solid #b0b0b0 ;
  button{
    background:transparent;
    font-size: 1.05em;
    color:#0078f9;
    padding-left:1.5em;
    padding-right:1.5em;
    padding-top: 12px;
    border: none!important;
  }
  button:active, button:hover, button.active,button.hover{
    background:transparent;
    color:black;
    border: none!important;
  }
}
