<div class="content">
  <div class="row">
    <div class="col col-xs-12 mainLogo">
      <img src="assets/img/affinitycard_logo.png">
    </div>
    <button [hidden]="!logged" (click)="sidebar.toggleMenu()" class="fa fa-bars mainMoreButton"></button>
  </div>
  <div class="bottom_row">
    <div class="row">
      <div class="col col-xs-12 text-center">
         <app-form-button [hidden]="logged" icon="fa-user" text="Identificarse" (click)="this.doLogin()"></app-form-button>
        <app-form-button [hidden]="!logged" icon="fa-credit-card" text="Solicitar tarjeta" (click)="this.beginRequest()"></app-form-button>
        <app-form-button [hidden]="!logged || !environment.debugMode" icon="fa-bug" text="Solicitar (DEBUG)" (click)="this.beginRequest(true)"></app-form-button>
      </div>
    </div>
  </div>
  <app-sidebar #sidebar [hidden]="!logged">

  </app-sidebar>
  <span defaultOverlayTarget></span>
</div>
