/*styles for home content only*/
.mainLogo {
  text-align: center;
  img {
    max-width: 350px;
  }
}

.mainMoreButton{
  font-size: 38px;
  color: black;
  position: absolute;
  right: 0;
  margin:20px;
  border: none;
  background: transparent;
  padding:0px;
}

.bottom_row{
  position: fixed;
  bottom: 0;
  width:100%;
}

@media only screen and (orientation: landscape) {
  .mainLogo{
    padding-top:50px;
  }
  .bottom_row{
    bottom:100px;
  }
}
@media only screen and (orientation: portrait) {
  .mainLogo{
    padding-top:100px;
  }
  .mainMoreButton{
    color:white
  }
  .bottom_row{
    bottom:100px;
  }
}
