.formHeaderContainer {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.formFooterContainer {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

.formHeader {
  background-color: #d1efe5;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 25px;
  border-radius: .25rem;
}

.formHeaderTitle {
  background-color: black;
  height: 25px;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: .25rem;
  font-family: sans-serif;
  font-size: 0.8em;
  padding-top: 3px;
}

.formContainer {
  padding: 40px;
  padding-top: 0px;
}

.altamk-form {
  label {
    font-size: 1em;
    font-weight: bold;
  }
  input, select {
    font-size: 1.1em;
    background-color: #eff0f1;
  }
  select.form-control {
    height: 38px !important;
  }
}

.formGenre {
  font-size: 5rem;
  padding: 10px;
  margin-right: 50px;
  width: 80px;
  background: transparent;
}

.formGenre:hover, .formGenre:active {
  color: #4ab995;
}

.formGenreCheck {
  visibility: hidden;
}

.form-control {
  margin-right: 0.5rem;
}

.ng-invalid.ng-dirty, .formBorderError {
  border-color: red !important;
}

.formBorderError {
  border: 1px solid;
}

.formRadiosGroup {
  margin: 5px;
  margin-top: -10px;
  padding: 5px;
  margin-left: 50px;
}

.formRadioSelected {
  border: #6ecdae solid 1px;
  color: #4ab995;
}

.formFixedHeader {
  position: fixed;
  z-index: 4;
  left: 0%;
  top: 0%;
  width: 100%;
}

.formScrollableContent {
  position: absolute;
  height: auto;
  top: 40px;
  margin-bottom: 45px;
  width: 100%;
}

.formCheckButtons {
  display: flex;
  justify-content: space-around;
}

.form-group {
  margin-bottom: 25px;
}

.altamkHiddenRadio {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.altamkNotVisibleField {
  visibility: hidden;
}

.protectionPlan, .protectionPlanDown {
  font-size: 0.8em;
  text-align: center;
}

.civilStatusPanel, .housingTypePanel {
  margin-left: 5%;
  width: 90%;
}

.btnForeignType {
  font-size: 1.1em;
  color: black;
  border-color: #cfd3d6;
  button, button:hover, button.hover {
    background-color: #cfd3d6;
    color: black;
    border-color: #cfd3d6;
  }

  button.active, button:active, button.checked, button:checked {
    background-color: #a6e0cd;
    border-color: #a6e0cd !important;
    color: black;
  }
  button:focus {
    border: black
  }
}

.btnForeignType {
  button {
    width: 150px;
    height: 60px;
  }
}

.protectionPlan, .protectionPlanDown {
  font-size: 0.8em;
  text-align: center;
}

.civilStatusPanel, .housingTypePanel {
  margin-left: 5%;
  width: 90%;
}

/** Protection plan group **/
.btnGroupProtectionPlan{
  button{
    min-width: 110px;
  }
}

/** ChkAltamk Buttons **/
.btn-chkAltamk, .btn-chkAltamk:hover, .btn-chkAltamk.hover {
  width: 100%;
  font-size: 1.1em;
  color: black;
  background-color: #cfd3d6;
  border-color: #cfd3d6;
  /* font-weight: bold; */
  /* height: 100%; */
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  height: 70px;
}

.btn-chkAltamk:hover, .btn-chkAltamk.hover {
  font-weight: bolder;
}

.btn-chkAltamk:active, .btn-chkAltamk.active, .btn-chkAltamk.checked, .btn-chkAltamk:checked, .btn-chkAltamk.selected .btn-chkAltamk::selection {
  background-color: #a6e0cd;
  border-color: #a6e0cd;
  color: black;
}
.btn-chkAltamk:focus{
  border-color:green;
}

.altamkSimpleCheckbox{
  .custom-control-indicator{
    width:40px;
    height:40px;

  }
  .custom-control-input:checked~.custom-control-indicator {
    background-color: #a6e0cd !important;
  }
  .custom-control-indicator:focus{
    border-color:green ;
  }
  .custom-control-description{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 1.1em;
  }
}
.advicesCheckBlock{
  margin-top:1.5em;
  margin-bottom: 2.5em;
}

.footerBottomSeparator{
  width: 100%;
  height:45px;
}

.errorRow{
  color:red;
  font-size: 0.8rem;
}
.errorsTitleContainer{
  text-align: center;
}
.errorsTitle{
  font-size: 1.1rem;
}
