.processHeader {
  color: white;
  background: black;
  padding: 20px;
  padding-bottom: 2px!important;
  margin-left:0px;
  margin-right:0px;
  padding-top: 2px!important;
  .text-right{
    padding-right: 0px;
  }
  .text-left{
    padding-left: 0px;
  }
}
.altamk-header-title{
  padding-top: 6px;
}
.btn-altamk-header{
  color:white;
  background: black;
  border:none;
  padding:10px;
}
.btn-altamk-header:active,.btn-altamk-header:hover{
  color:white;

  border:none;
  background: transparent;
}
.btn-altamk-header:hover{
  //color:#6ecdae;
  //font-weight: bolder;
}
