<div class="modal-dialog loginDialog">
  <div class="modal-header">
    <div class="modal-title">
      <h1>Identificación</h1>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col col-xs-12">
        <label>Usuario</label>
        <input class="form-control" type="text" autofocus autocorrect="off" autocapitalize="none" value="{{context.login}}" [(ngModel)]="context.login">
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <label>Contraseña</label>
        <input class="form-control" type="password" autocorrect="off" autocapitalize="none" value="{{context.password}}" [(ngModel)]="context.password">
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <label>Tienda</label>
        <input class="form-control" type="text" autocorrect="off" autocapitalize="none" value="{{context.shop}}" [(ngModel)]="context.shop">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-centered" (click)="this.login()">Identificarse</button>
    <button class="btn btn-primary btn-centered" (click)="this.hide()">Cancelar</button>
  </div>
</div>
