
.loginDialog {
  margin-bottom: 0px;
  modal-header {
    text-align: center;
    padding: 5px;
  }
  .modal-header {
    padding: 5px;
    border-bottom: none;
  }
  modal-content {
    color: black;
    font-size: 12px;

  }
  input {
    max-width: 180px;
    margin: auto;
    text-align: center;
  }
  .modal-title {
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
  }
  .modal-body {
    text-align: center;
    padding-top: 5px;
  }
  .modal-footer {
    text-align: center;
    padding: 10px;
  }
  .btn-centered {
    margin: auto;
  }
  .btn-primary {
    color: #0275d8;
    background-color: transparent;
    border: none;
  }
}

