<div class="modal-dialog loginDialog">
  <div class="modal-header">
    <div class="modal-title">
      <h3>{{context.title}}</h3>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col col-xs-12">
        <label>{{context.question}}</label>
        <input class="form-control" type="text" autofocus autocorrect="off" autocapitalize="none" value="{{context.response}}" [(ngModel)]="context.response">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-centered" (click)="this.butOKPressed()">Continuar</button>
    <button class="btn btn-primary btn-centered" (click)="this.hide()">Cancelar</button>
  </div>
</div>


