<div class="row formFooter">
  <div class="col-6 text-left">
    <button (click)="leftClick()" class="btn">{{leftTitle}}</button>
  </div>
  <div class="col-6 text-right">
    <button (click)="rightClick()" class="btn">{{rightTitle}}</button>
  </div>
</div>
