.sidebar-info {
  .title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: white solid 1px;
    height: 30px;
  }
  .content {
    font-size: 12px;
    height: 20px;
    vertical-align: top;
    span{
      position:relative;
      top:-5px;
    }
  }
}
