@import './assets/styles/bootstrap.min.css';
@import './assets/styles/bootstrap-grid.min.css';
@import './assets/styles/bootstrap-reboot.min.css';

@import './assets/styles/body.scss';

$fa-font-path: "./assets/fonts";
@import "./assets/styles/font-awesome/font-awesome.scss";

@import "./assets/styles/angular2-modal";
@import "./assets/styles/forms";

@import './assets/styles/formHeader.scss';
@import './assets/styles/formFooter.scss';

html, body { height:100%; height:100% }

.backgrounGray{
  background-color: lightgray;
}
*
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input
{
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

.noBottomMarginFormGroup{
  margin-bottom: 0px;
}
