<app-process-header class="formFixedHeader" title="Introducción de datos"
                    next="Contacto"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="7"></app-form-progress>
  </div>

  <form class="altamk-form" [formGroup]="personalDataForm" #personalForm>
    <div class="formContainer">
      <app-form-header title="Datos personales"></app-form-header>
      <app-form-errors-panel [hidden]="personalDataErrors.length==0"
                             [errors]="personalDataErrors"></app-form-errors-panel>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" tabindex="1" class="form-control" id="name" placeholder="Introduzca el nombre"
                   formControlName="username">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Fecha de nacimiento</label>
            <div class="form-inline">
              <select class="form-control" tabindex="6" id="birthdateDay" formControlName="birthDay">
                <option value=" "></option>
                <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
              </select>
              <select class="form-control" tabindex="7" id="birthdateMonth" formControlName="birthMonth">
                <option value=" "></option>
                <option *ngFor="let month of months; let i = index" [ngValue]="i+1">{{month}}</option>
              </select>
              <select class="form-control" tabindex="8" id="birthdateYear" formControlName="birthYear">
                <option value=" "></option>
                <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Primer apellido</label>
            <input type="text" tabindex="2" class="form-control" id="surname1" placeholder="Primer apellido"
                   formControlName="surname1">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Pais de nacimiento</label>
            <select class="form-control" tabindex="9" id="birthCountry" formControlName="birthCountry">
              <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Segundo apellido</label>
            <input type="text" tabindex="3" class="form-control" id="surname2" placeholder="Segundo apellido"
                   formControlName="surname2">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Ciudad de nacimiento</label>
            <input type="text" class="form-control" tabindex="10" id="birthCity" placeholder="Ciudad de nacimiento"
                   formControlName="birthCity">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Tipo de documento</label>
            <div class="form-inline">
              <select class="form-control" tabindex="4" id="docType" formControlName="idCode"
                      (change)="idNumberControl.updateValueAndValidity();surname2Control.updateValueAndValidity();">
                <option value="NIF">NIF</option>
                <option value="NIE">NIE</option>
              </select>
              <input type="text" class="form-control" tabindex="5" id="docNumber" placeholder="Número de documento"
                     formControlName="idNumber">
            </div>
          </div>

        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Nacionalidad</label>
            <input type="text" class="form-control" tabindex="11" id="nationality" placeholder="Nacionalidad"
                   formControlName="nationality">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group ">
            <label for="name">Género</label>
            <div class="form-inline">
              <div class="formRadiosGroup">
              <button class="btn btn-default fa fa-female formGenre" (click)="genreFemale.click()" [ngClass]="{'formBorderError':(genreControl.invalid && genreControl.dirty),'formRadioSelected':genreControl.value=='female'}"></button>
                <button class="btn btn-default fa fa-male formGenre" (click)="genreMale.click()" [ngClass]="{'formBorderError':(genreControl.invalid && genreControl.dirty),'formRadioSelected':genreControl.value=='male'}"></button>

              </div>
              <input type="radio" class="form-control formGenreCheck" #genreFemale id="genreFemale"
                     formControlName="genre" value="female">
              <input type="radio" class="form-control formGenreCheck" #genreMale id="genreMale" formControlName="genre"
                     value="male">
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
</div>
<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()" rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
