.btn-form-altamk {
  background: #0f2232;
  color: #6ecdae;
  border:#0f2232;
  text-transform: uppercase;
}
.btn-form-altamk:active {
  background: #6ecdae;
  color: #0f2232;
  border:#0f2232;

}


span.left{
  margin-right:8px;
}
span.right{
  margin-left:8px;
}
