<div class="row processHeader">
  <div class="col text-left"><app-form-button *ngIf="prev" icon="{{prevIcon}}" (click)="doPrev()" text="{{prev}}"  btnClass="btn-altamk-header processHeaderButton"></app-form-button></div>
  <div class="col text-center altamk-header-title">{{title}}</div>
  <div class="col text-right"><app-form-button *ngIf="next" endIcon="{{nextIcon}}" (click)="doNext()" text="{{next}}" btnClass="btn-altamk-header processHeaderButton"></app-form-button></div>
</div>
