button{
  width:100%;
  font-size: 0.6em;
  color:black;
  margin: 5px;
  background-color:#cfd3d6;
  border-color:#cfd3d6;
  font-weight: bold;
}
button:hover{
  background-color: #a6e0cd;
  border-color: #a6e0cd;
  color:black;
}
button:active{
  background-color: #a6e0cd;
  border-color: #a6e0cd;
  color:black;
}
