.contentPanel {
  margin: 0;
  background-color: #182A3B;
  height: 100%;
  .outer-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #182A3B;
  }

  .inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .centered-content {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 20px;

  }
  .messageBox {
    border: 1px solid #8FCAB7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 35.4px;
    max-width: 500px;
  }
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
  }
  img {
    max-width: 300px;
    widht: 100%;
    height: auto;
    opacity: 0.7;
  }
}

