<app-process-header *ngIf="isLoading()" class="formFixedHeader" title="Introducción de datos"
                    prev="Documentación"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>

<div  class="contentPanel">
  <div class="outer-container">
    <div class="inner-container">
      <div *ngIf="loading" class="centered-content ">
        <h1>Generando y cargando PDF.</h1>
        <h1>Por favor, espere.</h1>
        <img src="assets/img/loading.gif">
        <h2>Generando pdf... </h2>
      </div>
      <div *ngIf="!loading" class="centered-content ">
        <h1>Por favor, espere.</h1>
        <img src="assets/img/loading.gif">
        <h2>Procesando... </h2>
      </div>
    </div>
  </div>
</div>
<app-footer *ngIf="loading" class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()"
            rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
