<div class="sidebar" [@slideInOut]="menuState">
  <button (click)="toggleMenu()" class="fa fa-remove mainMoreButtonClose"></button>

  <ul>
    <li>
      <app-sidebar-info title="Usuario" content="{{loggedData.user}}"></app-sidebar-info>
    </li>
    <li>
      <app-sidebar-info title="Acción" content="{{loggedData.action.code}}"></app-sidebar-info>
    </li>
    <li>
      <app-sidebar-info title="Tienda" content="{{loggedData.shop.code}}"></app-sidebar-info>
    </li>
    <li>
      <app-sidebar-info title="Caducidad de la sesión" content="{{loggedData.session}}"></app-sidebar-info>
    </li>
    <li>
      <app-sidebar-info title="Versión de la App" content="{{environment.version}}"></app-sidebar-info>
    </li>
    <li></li>
  </ul>
  <ul class="sideBarButtonsList">
    <li>
      <app-form-button icon="fa-file" text="Borradores" (click)="doDraftsView()"></app-form-button>
    </li>
    <li>
      <app-form-button icon="fa-file-text" text="Pendientes" (click)="doPendingsView()"></app-form-button>
    </li>
    <li>
      <app-form-button icon="fa-ticket" text="Incidencias" (click)="doTicket()"></app-form-button>
    </li>
    <li style="margin-top: 5em;">
      <app-form-button icon="fa-sign-out" text="Cerrar sesión" (click)="doLogout()"></app-form-button>
    </li>
  </ul>

</div>
