.sidebar {
  background: black;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .bottom_row {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 10px;
  list-style: none;
}

.mainMoreButtonClose {
  font-size: 32px;
  color: black;
  position: absolute;
  right: 0;
  margin: 20px;
  color: white;
  margin-right: 30px;
  background-color: transparent;
  border: none;
  padding: 0px;
}

@media only screen and (orientation: landscape) {
  .sidebar {
    .bottom_row {
      bottom: 100px;
    }
  }
}

@media only screen and (orientation: portrait) {
  .sidebar {
    .bottom_row {
      bottom: 100px;
    }
  }
}


