<app-process-header class="formFixedHeader" title="Introducción de datos"
                    prev="Contacto" next="Profesionales"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="36"></app-form-progress>
  </div>
  <!--region Otros datos personales BEGIN-->
  <form class="altamk-form" [formGroup]="otherPersonalDataForm" #otherPersonalForm>
    <div class="formContainer">
      <app-form-header title="Otros datos personales"></app-form-header>
      <app-form-errors-panel [hidden]="otherPersonalDataErrors.length==0"
                             [errors]="otherPersonalDataErrors"></app-form-errors-panel>

      <!-- Otros datos personales - BEGIN-->
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="form-group noBottomMarginFormGroup">
            <label>Estado civil</label>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(civilStateForm.value=='soltero'),'formBorderError':(civilStateForm.invalid && civilStateForm.dirty)}"
                            (click)="civilStateSingle.click()">Soltero
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(civilStateForm.value=='casado'),'formBorderError':(civilStateForm.invalid && civilStateForm.dirty)}"
                            (click)="civilStateMarried.click()">Casado
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(civilStateForm.value=='separado/divorciado'),'formBorderError':(civilStateForm.invalid && civilStateForm.dirty)}"
                            (click)="civilStateDivorced.click()">Separado/Divorciado
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(civilStateForm.value=='viudo'),'formBorderError':(civilStateForm.invalid && civilStateForm.dirty)}"
                            (click)="civilStateWidow.click()">Viudo
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <input type="radio" class="form-control altamkHiddenRadio" name="civilState" formControlName="civilState"
             #civilStateSingle
             value="soltero">
      <input type="radio" class="form-control altamkHiddenRadio" name="civilState" formControlName="civilState"
             #civilStateMarried
             value="casado">
      <input type="radio" class="form-control altamkHiddenRadio" name="civilState" formControlName="civilState"
             #civilStateDivorced
             value="separado/divorciado">
      <input type="radio" class="form-control altamkHiddenRadio" name="civilState" formControlName="civilState"
             #civilStateWidow
             value="viudo">
      <!-- Otros datos personales - END-->
      <!-- Tipo de vivienda - BEGIN-->
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="form-group noBottomMarginFormGroup">
            <label>Tipo de vivienda</label>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(housingTypeForm.value=='propia'),'formBorderError':(housingTypeForm.invalid && housingTypeForm.dirty)}"
                            (click)="housingTypeOwn.click();housingTypeForm.value=='propia'">Propia
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(housingTypeForm.value=='alquilada'),'formBorderError':(housingTypeForm.invalid && housingTypeForm.dirty)}"
                            (click)="housingTypeRented.click();housingTypeForm.value=='alquilada'">Alquilada
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(housingTypeForm.value=='de los padres'),'formBorderError':(housingTypeForm.invalid && housingTypeForm.dirty)}"
                            (click)="housingTypeParents.click();housingTypeForm.value=='de los padres'">De los padres
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(housingTypeForm.value=='otras'),'formBorderError':(housingTypeForm.invalid && housingTypeForm.dirty)}"
                            (click)="housingTypeOthers.click();housingTypeForm.value=='otras'">Otras
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-12">
          <div class="form-group" [hidden]="housingTypeForm.value!='otras'">
            <label>Introduzca el tipo</label>
            <input type="text" tabindex="" class="form-control" id="housingTypeOther"
                   formControlName="housingTypeOther" placeholder="">
          </div>
        </div>
      </div>
      <input type="radio" class="form-control altamkHiddenRadio" name="housingType" formControlName="housingType"
             #housingTypeOwn
             value="propia">
      <input type="radio" class="form-control altamkHiddenRadio" name="housingType" formControlName="housingType"
             #housingTypeRented
             value="alquilada">
      <input type="radio" class="form-control altamkHiddenRadio" name="housingType" formControlName="housingType"
             #housingTypeParents
             value="de los padres">
      <input type="radio" class="form-control altamkHiddenRadio" name="housingType" formControlName="housingType"
             #housingTypeOthers
             value="otras">

      <!-- Tipo de vivienda - END-->
      <!-- Años en la vivienda y personas a cargo-->
      <div class="row">

        <div class="col-6">
          <div class="form-group">
            <label>Años en la vivienda</label>
            <div class="row">
              <div class="col-4">
                <select class="form-control" tabindex="" id="housingYears" formControlName="housingYears">
                  <option *ngFor="let housingYear of housingYears" value="{{housingYear}}">{{housingYear}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label>Número de personas a cargo</label>
            <div class="row">
              <div class="col-6">
                <select class="form-control" tabindex="" id="personsResponsable"
                        formControlName="personsResponsable">
                  <option *ngFor="let personsNumber of personsResponsable" value="{{personsNumber}}">
                    {{personsNumber}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--endregion Otros datos personales END-->
  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
</div>
<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()"
            rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
