.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

.modal-dialog {
  color: black;
  width: auto;
}
.modal-header{
  margin-bottom: 10px;
}
.commonDialog {
  margin: auto;
  padding-top: 200px;
  modal-header {
    text-align: center;
    padding: 5px;
    border-bottom: none;
  }
  modal-content {
    color: black;
    font-size: 12px;
  }

  .modal-title {
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
  }
  .modal-body {
    text-align: center;
    padding-top: 5px;
  }
  .modal-footer {
    margin-top:10px;
    text-align: center;
    padding: 10px;
  }
  .btn-centered {
    margin: auto;
  }
  .btn-primary {
    color: #0275d8;
    background-color: transparent;
    border: none;
    margin:auto;
  }
}

.login-dialog {
  margin: auto;
  width: 350px !important;
  padding-top: 80px;
}

div.progress-bar {
  background-color: #6ecdae;
}
div.progress{
  margin-top:10px;
  background-color: #b9bfc4;
  height: 10px;
}
