
html, body {
  height: 100%;
}

.welcomeBody {
  color:white;
}

.sidebar {

    .btn-form-altamk {
      width: 100%;
    }

}

@media only screen and (orientation: landscape) {
  .welcomeBody {
    background: url("./assets/img/background_landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (orientation: portrait) {
  .welcomeBody {
    background: url("./assets/img/background_portrait.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* css rules */
}
