<app-process-header class="formFixedHeader" title="Introducción de datos"
                    prev="Volver"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">

  <!--region Datos incidencias BEGIN-->
  <form class="altamk-form ticketForm" [formGroup]="ticketForm">
    <div class="formContainer">
      <div class="row">
        <div class="col-12">
          <label>Describa lo más posible la incidencia encontrada y los pasos a seguir para volver a reproducirla, así
            como toda información que sea de utilidad (cobertura de red, usando red móvil o wifi...)</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Título</label>
          <input type="text" class="form-control col-12" id="title" formControlName="title">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Descripción del problema</label>
          <textarea class="form-control ticketsTextarea" id="description" formControlName="description" rows="1000">Introduzca la descripción</textarea>
        </div>
      </div>
    </div>
    <div class="formFooterContainer row">
      <div class="col-12 text-right">
        <app-form-button icon="fa-arrow-right" text="Enviar" (click)="headerClicked('next');"></app-form-button>
      </div>
    </div>
  </form>

  <!--endregion Datos incidencias END-->
  <div class="footerBottomSeparator"></div>
</div>
