.ticketsTextarea {
  width: 100%;
  height: 500px;
  resize: none;
  overflow: hidden;
  margin-top: 1em;
  -moz-user-select: text !important;
  -webkit-user-select: text !important;
  -ms-user-select: text !important;
}

body {
  background-color: white !important;
}

.ticketForm {
  margin-top: 40px;
}

@media (orientation: landscape) {

  .ticketsTextarea {
    height: 350px;
  }

}
