<app-process-header class="formFixedHeader" title="Introducción de datos"
                    next="Enviar" prev="Bancarios"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="80"></app-form-progress>
  </div>
  <form class="altamk-form">
    <div class="formContainer">
      <app-form-header title="NIF / NIE Frontal"></app-form-header>

      <div class="row">
        <ul class="col12 documentErrors">
          <li *ngFor="let error of frontPictureErrors" class="errorsEntry">{{error.value}}</li>
        </ul>
      </div>
      <div class="row documentBlock">

        <div [ngClass]="{'col-6':isIpadMini==false,'col-9':isIpadMini}"
             class="altamk-document-view bg-altamkFrontNIF">
          <img [src]="frontPictureImageSrc">
        </div>
        <div [ngClass]="{'col-6':isIpadMini==false,'col-3':isIpadMini}"
             class=" text-center altamk-document-view_text">
          <div><span> Aseguresé de que una vez tomada la fotografía ésta se ve correctamente en el recuadro de la izquierda</span>
          </div>
          <app-form-button text="{{!frontPictureTaken?'Hacer fotografía':'Repetir fotografia'}}" icon="fa fa-camera"
                           (click)="takePicture('front');"></app-form-button>

        </div>
      </div>
      <app-form-header title="NIF / NIE Trasera"></app-form-header>
      <div class="row">
        <ul class="col12 documentErrors">
          <li *ngFor="let error of backPictureErrors" class="errorsEntry">{{error.value}}</li>
        </ul>
      </div>
      <div class="row documentBlock">
        <div [ngClass]="{'col-6':isIpadMini==false,'col-9':isIpadMini}" class="altamk-document-view bg-altamkBackNIF">
          <img [src]="backPictureImageSrc">
        </div>
        <div [ngClass]="{'col-6':isIpadMini==false,'col-3':isIpadMini}"
             class=" text-center altamk-document-view_text">
          <div><span> Aseguresé de que una vez tomada la fotografía ésta se ve correctamente en el recuadro de la izquierda</span>
          </div>
          <app-form-button text="{{!backPictureTaken?'Hacer fotografía':'Repetir fotografia'}}" icon="fa fa-camera"
                           (click)="takePicture('back');"></app-form-button>
        </div>
      </div>
      <app-form-header title="Otra documentación"></app-form-header>
      <div class="row">
        <ul class="col12 documentErrors">
          <li *ngFor="let error of documentPictureErrors" class="errorsEntry">{{error.value}}</li>
        </ul>
      </div>
      <div class="row documentBlock">

        <div [ngClass]="{'col-6':isIpadMini==false,'col-9':isIpadMini}"
             class="altamk-document-view bg-altamkOtherDocuments">
          <img [src]="documentPictureImageSrc">
        </div>
        <div [ngClass]="{'col-6':isIpadMini==false,'col-3':isIpadMini}"
             class=" text-center altamk-document-view_text">
          <div><span> Aseguresé de que una vez tomada la fotografía ésta se ve correctamente en el recuadro de la izquierda</span>
          </div>
          <app-form-button text="{{!documentPictureTaken?'Hacer fotografía':'Repetir fotografia'}}" icon="fa fa-camera"
                           (click)="takePicture('document');"></app-form-button>
        </div>
      </div>
    </div>
  </form>
  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
</div>
<input type="file" ng2FileSelect [uploader]="uploader" #formFileUploader/>

<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()"
            rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
