
.altamk-document-view{
  img{
    width: 100%;
    height:auto;
  }
}

.altamk-document-view_text{
  div{
    margin-bottom: 2em;
    font-size: 1em;
  }
}
.documentBlock{
  margin-bottom:2em;
}

.documentErrors{
  margin-top: 10px;
  padding-left: 0px;
  li{
    color:red;
    padding-left: 10px;
    list-style-type: none;
  }
}

