<app-process-header class="formFixedHeader" title="Introducción de datos"
                    next="Otros" prev="Personales"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="20"></app-form-progress>
  </div>

  <form class="altamk-form" [formGroup]="contactDataForm" #contactForm>
    <div class="formContainer">
      <app-form-header title="Datos de contacto"></app-form-header>
      <app-form-errors-panel [hidden]="contactDataErrors.length==0"
                             [errors]="contactDataErrors"></app-form-errors-panel>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="name">Tipo de vía</label>
            <select class="form-control" tabindex="14" id="addresType" formControlName="type">
              <option value=" "></option>
              <option *ngFor="let type of addressTypes" [value]="type">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <label for="name">Nombre de la vía</label>
            <input type="text" tabindex="15" class="form-control" id="addressName" placeholder="Nombre de la vía"
                   formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Número</label>
            <input type="text"  pattern="[0-9]*" tabindex="16" class="form-control" id="addressNumber" placeholder=""
                   formControlName="number">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Portal</label>
            <input type="text" tabindex="17" class="form-control" id="addressPortal" placeholder=""
                   formControlName="portal">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Bloque</label>
            <input type="text" tabindex="18" class="form-control" id="addressBlock" placeholder=""
                   formControlName="block">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="name">Escalera</label>
            <input type="text" tabindex="19" class="form-control" id="addressStair" placeholder=""
                   formControlName="stair">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Piso</label>
            <input type="text" tabindex="20" class="form-control" id="addressFloor" placeholder=""
                   formControlName="floor">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Puerta</label>
            <input type="text" tabindex="21" class="form-control" id="addressDoor" placeholder=""
                   formControlName="door">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label for="name">Resto de domicilio</label>
            <input type="text" tabindex="22" class="form-control" id="addressRest" placeholder=""
                   formControlName="rest">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="name">Código postal</label>
            <input type="text" pattern="[0-9]*" tabindex="23" maxlength="5" class="form-control" id="addressPostalCode" placeholder=""
                   formControlName="postalCode">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="form-group">
            <label for="name">Localidad</label>
            <input type="text" tabindex="24" class="form-control" id="addressCity" placeholder=""
                   formControlName="city">
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="name">Provincia</label>
            <select class="form-control" tabindex="25" id="addressProvince" formControlName="province">
              <option value=" "></option>
              <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Teléfono móvil</label>
            <input type="text" pattern="[0-9]*" tabindex="26"  maxlength="9" class="form-control" id="mobilePhone" placeholder=""
                   formControlName="mobilePhone">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Email de contacto</label>
            <input type="text" tabindex="27" class="form-control" id="email" placeholder=""
                   formControlName="email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="name">Teléfono fijo</label>
            <input type="text" pattern="[0-9]*" tabindex="28"  maxlength="9" class="form-control" id="homePhone" placeholder=""
                   formControlName="homePhone">
          </div>
        </div>

      </div>
    </div>
  </form>
  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
</div>
<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()" rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
