<app-process-header class="formFixedHeader" title="Introducción de datos"
                    prev="Otros" next="Bancarios"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="50"></app-form-progress>
  </div>

  <!--region Ocupacion-->
  <form class="altamk-form" [formGroup]="professionalDataForm">
    <div class="formContainer" style="padding-bottom: 25px;">
      <app-form-header title="Datos profesionales | Principal fuente de ingresos"></app-form-header>
      <app-form-errors-panel [hidden]="professionalDataErrors.length==0"
                             [errors]="professionalDataErrors"></app-form-errors-panel>

      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Ocupación</label>
                <select class="form-control" #occupation tabindex="" (change)="changeSelectedType();"
                        formControlName="occupation">
                  <option value=" "></option>
                  <option *ngFor="let occupation of constants.occupations" [value]="occupation">{{occupation}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6" [hidden]="occupation.value!=constants.OCCUPATION_HOUSEWIFE">
              <div class="form-group">
                <label>Ocupación cónyuge</label>
                <select class="form-control" id="workingParentStatus" tabindex="13" (change)="changeSelectedType();"
                        formControlName="parentOccupation">
                  <option value=" "></option>
                  <option *ngFor="let parentOccupation of constants.parentOccupations" [value]="parentOccupation">
                    {{parentOccupation}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!--region rentier section-->
          <div [hidden]="!(professionalTypeSelected=='Rentista')" class="row">
            <div class="col">
              <div class="form-group">
                <label>Tipo de renta</label>
                <input type="text" tabindex="" class="form-control" id="rentType" formControlName="rentType"
                       placeholder="">
              </div>
            </div>
          </div>
          <!--endregion-->
          <!--region pensioner section-->
          <div [hidden]="!(professionalTypeSelected=='Pensionista')" class="row">
            <div class="col">
              <div class="form-group">
                <label>Causa de la pensión</label>
                <input type="text" tabindex="" class="form-control" id="pensionType" formControlName="pensionType"
                       placeholder="">
              </div>
            </div>
          </div>
          <!--endregion -->
          <!--region Professional|Foreign section -->
          <div
            [hidden]="!(professionalTypeSelected==constants.OCCUPATION_OWN || professionalTypeSelected==constants.OCCUPATION_FOREIGN)"
            class="row">
            <div class="col-12">
              <div class="row" [hidden]="professionalTypeSelected==constants.OCCUPATION_OWN">
                <div class="col-12">
                  <div class="form-group"><label>Tipo</label>
                    <div class="row">
                      <div class="col-12 text-center">
                        <div class="btn-group btnForeignType" data-toggle="buttons">
                          <button class="btn btn-primary"
                                  [ngClass]="{'active': foreignTypeControl.value=='Fijo','formBorderError':(foreignTypeControl.invalid && foreignTypeControl.dirty)}"
                                  (click)="foreignSecure.click();foreignTypeControl.value='Fijo'">
                            Fijo
                          </button>
                          <button class="btn btn-primary"
                                  [ngClass]="{'active': foreignTypeControl.value=='Temporal','formBorderError':(foreignTypeControl.invalid && foreignTypeControl.dirty)}"
                                  (click)="foreignTemporal.click();foreignTypeControl.value='Temporal'">
                            Temporal
                          </button>
                          <button class="btn btn-primary"
                                  (click)="foreignOfficer.click();foreignTypeControl.value='Funcionario'"
                                  [ngClass]="{'active': foreignTypeControl.value=='Funcionario','formBorderError':(foreignTypeControl.invalid && foreignTypeControl.dirty)}">
                            Funcionario
                          </button>
                        </div>
                      </div>
                      <input type="radio" class="form-control altamkHiddenRadio" name="foreignType" #foreignSecure
                             value="Fijo"
                             formControlName="foreignType">
                      <input type="radio" class="form-control altamkHiddenRadio" name="foreignType" #foreignTemporal
                             value="Temporal"
                             formControlName="foreignType">
                      <input type="radio" class="form-control altamkHiddenRadio" name="foreignType" #foreignOfficer
                             value="Funcionario"
                             formControlName="foreignType">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" [hidden]="professionalTypeSelected==constants.OCCUPATION_OWN">
                <div class="col">
                  <div class="form-group">
                    <label>{{foreignTypeControl.value=="Funcionario"?'Organismo':'Nombre de la empresa'}}</label>
                    <input type="text" tabindex="" class="form-control" id="companyName" formControlName="companyName"
                           placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label>Sector de actividad</label>
                    <select class="form-control" tabindex="" id="activitySector" formControlName="activitySector">
                      <option value=" "></option>
                      <option *ngFor="let sector of activitySectors" value="{{sector}}">{{sector}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-7">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Actividad':('Actividad
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <input type="text" tabindex="" class="form-control" id="activity" formControlName="activity"
                           placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Dirección':('Dirección
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <input type="text" tabindex="" class="form-control" id="address" formControlName="address"
                           placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Población':('Población
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <input type="text" tabindex="" class="form-control" id="city" formControlName="city"
                           placeholder="">
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Provincia':('Provincia
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <select class="form-control" tabindex="25" id="province" formControlName="province">
                      <option value=" "></option>
                      <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Antigüedad':('Antigüedad en
                      '+(foreignTypeControl.value=="Funcionario"?'el organismo':'la empresa'))}}</label>
                    <div class="row">
                      <div class="col-8">
                        <select class="form-control" tabindex="" id="timeInEmployement"
                                formControlName="timeInEmployement">
                          <option value=" "></option>
                          <option *ngFor="let time of timeInEmployement" value="{{time}}">{{time}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Teléfono':('Teléfono
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <div class="row">
                      <div class="col-8">
                        <input type="text" pattern="[0-9]*" tabindex="" class="form-control" id="phone"
                               formControlName="phone"
                               placeholder="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group">
                    <label>Ingresos netos mensuales</label>
                    <div class="row">
                      <div class="col-7">

                        <select class="form-control" tabindex="" id="mensualIncomes" formControlName="mensualIncomes">
                          <option value=" "></option>
                          <option *ngFor="let income of mensualIncomes" value="{{income}}">{{income}}</option>
                        </select>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- MensualIncome END -->
            </div>

          </div>
        </div>
      </div>
    </div>

  </form>
  <!--endregion-->
  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
</div>
<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()"
            rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
