.btn-primary.disabled, .btn-primary:disabled {
  background-color: rgb(207, 211, 214);
  border-color:rgb(207, 211, 214);
}
.btnForeignType button.active, .btnForeignType button:active, .btnForeignType button.checked, .btnForeignType button:checked {
  background-color: #a6e0cd;
  border-color: #a6e0cd !important;
  color: black;
}
