<app-process-header class="formFixedHeader" title="Introducción de datos"
                    prev="Pendientes" next="Actualizar"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="65"></app-form-progress>
  </div>

  <form class="altamk-form" [formGroup]="completeForm">
    <app-form-errors-panel [hidden]="formErrors.length==0" [errors]="formErrors"></app-form-errors-panel>


    <div *ngIf="isProfessionalPending" class="formContainer">
      <app-form-header title="Datos profesionales | Principal fuente de ingresos"></app-form-header>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Ocupación</label>
                <select class="form-control" #occupation tabindex="" (change)="changeSelectedType();"
                        formControlName="occupation" readonly="readonly" >
                  <option value=" "></option>
                  <option *ngFor="let occupation of constants.occupations" [value]="occupation">{{occupation}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6" [hidden]="occupation.value!=constants.OCCUPATION_HOUSEWIFE">
              <div class="form-group">
                <label>Ocupación cónyuge</label>
                <select class="form-control" id="workingParentStatus" tabindex="13"
                        formControlName="parentOccupation" readonly="readonly">
                  <option value=" "></option>
                  <option *ngFor="let parentOccupation of constants.parentOccupations" [value]="parentOccupation">
                    {{parentOccupation}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!--region Professional|Foreign section -->
          <div
            [hidden]="!(professionalTypeSelected==constants.OCCUPATION_OWN || professionalTypeSelected==constants.OCCUPATION_FOREIGN)"
            class="row">
            <div class="col-12">
              <div class="row" [hidden]="professionalTypeSelected==constants.OCCUPATION_OWN">
                <div class="col-12">
                  <div class="form-group"><label>Tipo</label>
                    <div class="row">
                      <div class="col-12 text-center">
                        <div class="btn-group btnForeignType" data-toggle="buttons"
                             readonly="readonly">
                          <button class="btn btn-primary"
                                  [ngClass]="{'active': foreignTypeControl.value=='Fijo','formBorderError':(foreignTypeControl.invalid && foreignTypeControl.dirty)}"
>
                            Fijo
                          </button>
                          <button class="btn btn-primary"
                                  [ngClass]="{'active': foreignTypeControl.value=='Temporal','formBorderError':(foreignTypeControl.invalid && foreignTypeControl.dirty)}"
                            >
                            Temporal
                          </button>
                          <button class="btn btn-primary"
                                  [ngClass]="{'active': foreignTypeControl.value=='Funcionario','formBorderError':(foreignTypeControl.invalid && foreignTypeControl.dirty)}"
                         >
                            Funcionario
                          </button>
                        </div>
                      </div>
                      <input type="radio" class="form-control altamkHiddenRadio" name="foreignType" #foreignSecure
                             value="Fijo"
                             formControlName="foreignType">
                      <input type="radio" class="form-control altamkHiddenRadio" name="foreignType" #foreignTemporal
                             value="Temporal"
                             formControlName="foreignType">
                      <input type="radio" class="form-control altamkHiddenRadio" name="foreignType" #foreignOfficer
                             value="Funcionario"
                             formControlName="foreignType">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" [hidden]="professionalTypeSelected==constants.OCCUPATION_OWN">
                <div class="col">
                  <div class="form-group">
                    <label>{{foreignTypeControl.value=="Funcionario"?'Organismo':'Nombre de la empresa'}}</label>
                    <input type="text" tabindex="" class="form-control" id="companyName" formControlName="companyName"
                           placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label>Sector de actividad</label>
                    <select class="form-control" tabindex="" id="activitySector" formControlName="activitySector">
                      <option value=" "></option>
                      <option *ngFor="let sector of activitySectors" value="{{sector}}">{{sector}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-7">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Actividad':('Actividad
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <input type="text" tabindex="" class="form-control" id="activity" formControlName="activity"
                           placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Dirección':('Dirección
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <input type="text" tabindex="" class="form-control" id="address" formControlName="address"
                           placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Población':('Población
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <input type="text" tabindex="" class="form-control" id="city" formControlName="city"
                           placeholder="">
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Provincia':('Provincia
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <select class="form-control" tabindex="25" id="province" formControlName="province">
                      <option value=" "></option>
                      <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Antigüedad':('Antigüedad en
                      '+(foreignTypeControl.value=="Funcionario"?'el organismo':'la empresa'))}}</label>
                    <div class="row">
                      <div class="col-8">
                        <select class="form-control" tabindex="" id="timeInEmployement"
                                formControlName="timeInEmployement">
                          <option value=" "></option>
                          <option *ngFor="let time of timeInEmployement" value="{{time}}">{{time}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{professionalTypeSelected==constants.OCCUPATION_OWN?'Teléfono':('Teléfono
                      '+(foreignTypeControl.value=="Funcionario"?'del organismo':'de la empresa'))}}</label>
                    <div class="row">
                      <div class="col-6">
                        <input type="text" pattern="[0-9]*" tabindex="" class="form-control" id="phone"
                               formControlName="phone"
                               placeholder="">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- MensualIncome BEGIN
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Ingresos netos mensuales</label>
                <div class="row">
                  <div class="col-7">

                    <select class="form-control" tabindex="" id="mensualIncomes" formControlName="mensualIncomes">
                      <option value=" "></option>
                      <option *ngFor="let income of mensualIncomes" value="{{income}}">{{income}}</option>
                    </select>

                  </div>
                </div>
              </div>
            </div>
          </div>
           MensualIncome END -->
        </div>

      </div>
    </div>

    <!--region Datos bancarios BEGIN-->
    <div *ngIf="isBankDataPending" class="formContainer">
      <app-form-header title="Datos bancarios"></app-form-header>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Código cuenta corriente (IBAN)</label>
            <app-iban-form-component #ibanField (ibanChange)="setIBANField($event);"
                                     [IBANValue]="ibanFormValue"></app-iban-form-component>
          </div>
        </div>
      </div>
    </div>
    <!--endregion Datos bancarios END-->
  </form>


  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
  <div class="footerBottomSeparator"></div>
</div>
<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()"
            rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
