.listScrollableContent {
  position: absolute;
  height: auto;
  top: 40px;
  margin-bottom: 45px;
  width: 100%;
  margin-top: 45px;
  font-size: 0.8em;
}

.list {

  margin: 1em;
}

.listHeader {
  div {
    font-weight: bold;
    height: 3em;
  }
  border-bottom: black solid 2px;

}

.listRow {
  padding-top: 1em;
  div {
    height: 3em;
  }
  div:hover {
    color: black;
    background-color: lightgray;
  }
  border-bottom: lightGray solid 1px;
}

.listRow:hover {
  color: black;
  background-color: lightgray;
}
