<app-process-header class="formFixedHeader" title="{{titleByStatus}}"
                    prev="Inicio"
                    (btnClicked)="goWelcome($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="listScrollableContent">
  <div [hidden]="hideTable" class="list">
    <div class="row  text-center listHeader">
      <div class="col-2">Código</div>
      <div class="col-3 text-center">Nombre</div>
      <div class="col-3 text-center">Fecha</div>
      <div class="col-2 text-center">Teléfono</div>
      <div class="col-2 text-center">NIF/NIE</div>
    </div>
    <div class="row  text-center listRow" *ngFor="let request of requests" (click)="openRequest(request.id,request.id_code)">
      <div class="col-2">{{request.code}}</div>
      <div class="col-3">
        {{[request.form.personal.username,request.form.personal.surname1,request.form.personal.surname2].join(' ')}}
      </div>
      <div class="col-3">{{request.creation_date_parsed}}</div>
      <div class="col-2">{{request.form.contact.mobilePhone}}</div>
      <div class="col-2">{{request.id_code}}</div>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
</div>

