<div class="row formProgress ">
  <div class="col text-left leftProgressContainer">
    <span class="leftProgress">Solicitud Tarjeta</span>
  </div>
  <div class="col text-right rightProgressContainer">
    <div class="rightProgress"></div>
  </div>
</div>
<div class="row formProgressBar">
  <div class="col col-xs-12">
    <ngb-progressbar type="" class="bg-altamk" [value]="value"></ngb-progressbar>
  </div>
</div>
<div class="row formProgressBarTitles">
  <div class="col">
    Personales
  </div>
  <div class="col text-center">
    Contacto
  </div>
  <div class="col text-center">
    Otros
  </div>
  <div class="col text-center">
    Profesionales
  </div>
  <div class="col text-center">
    Bancarios
  </div>
  <div class="col text-center">
    Documentación
  </div>
  <div class="col text-right">
    Envío
  </div>

</div>
