.formProgress {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.formProgressBar, .formProgressBarTitles {
  padding-left: 20px;
  padding-right: 20px;
}

.formProgressBarTitles{
  font-size: 11px;
  font-weight: bold;
}
.rightProgress {
  background: url("../../../assets/img/affinitycard_logo_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 200px;
  margin-right: 0px;
  margin-left: auto;
}

.leftProgressContainer {
  padding-top: 0px;
}

.leftProgress {
  font-family: -webkit-body;
  font-size: 30px;
  margin-top: 0px;
}




@media only screen and (orientation: landscape) {

}

@media only screen and (orientation: portrait) {

}
