.ibanComponent {
  .ibanInput {
    display: inline-block;
    margin-right:0.8rem;
  }
  .countryField, .countryCodeField, .controlDigitField {
    width: 3rem;

  }
  .entityField, .sucursalField {
    width: 4rem;
  }
  .accountField {
    width: 9rem;
  }
  .doChecksumField {
    width: 3rem;
  }
  .doChecksumControl {
    border: none;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 1.8rem;
    position: relative;
    bottom: -6px;
  }
  input,button{
    padding-right: 10px;
    text-align: center;
  }
}
