<div class="row ibanComponent">
  <div class="col-12 text-center {{statusClasses}}">
    <div class="ibanInput countryField form-group">
      <label class="ibanLabel">País</label>
      <input type="text" tabindex="" (keypress)="country=$event.target.value" (ngModelChange)="onIbanChange()" [(ngModel)]="country" class="form-control {{fieldStatusClasses}}" (keyup)="processKeyUp($event, 2,'countryCode')" #ibanCountry maxlength="2" max="99">
    </div>
    <div class="ibanInput countryCodeField form-group">
      <label class="ibanLabel">CP</label>
      <input type="tel" pattern="[0-9]{2}" tabindex="" (keypress)="countryCode=$event.target.value" (ngModelChange)="onIbanChange()" [(ngModel)]="countryCode" class="form-control {{fieldStatusClasses}}" (keyup)="processKeyUp($event, 2,'entity')" #ibanCountryCode maxlength="2" max="99">
    </div>
    <div class="ibanInput entityField form-group">
      <label class="ibanLabel">Entidad</label>
      <input type="tel" pattern="[0-9]{4}" tabindex="" (keypress)="entity=$event.target.value" (ngModelChange)="onIbanChange()" [(ngModel)]="entity" class="form-control {{fieldStatusClasses}}" (keyup)="processKeyUp($event, 4,'sucursal')" #ibanEntity maxlength="4" max="9999">
    </div>
    <div class="ibanInput sucursalField form-group">
      <label class="ibanLabel">Oficina</label>
      <input type="tel" pattern="[0-9]{4}" tabindex="" (keypress)="sucursal=$event.target.value" (ngModelChange)="onIbanChange()" [(ngModel)]="sucursal" class="form-control {{fieldStatusClasses}}" (keyup)="processKeyUp($event, 4,'controlDigit')" #ibanSucursal maxlength="4" max="9999">
    </div>
    <div class="ibanInput controlDigitField form-group">
      <label class="ibanLabel">D.C.</label>
      <input type="tel" pattern="[0-9]{2}" tabindex="" (keypress)="controlDigit=$event.target.value" (ngModelChange)="onIbanChange()" [(ngModel)]="controlDigit" class="form-control {{fieldStatusClasses}}" (keyup)="processKeyUp($event, 2,'account')" #ibanControlDigit maxlength="2" max="99">
    </div>
    <div class="ibanInput accountField form-group">
      <label class="ibanLabel">Número de cuenta</label>
      <input type="tel" pattern="[0-9]{10}" tabindex="" (keypress)="account=$event.target.value" (ngModelChange)="onIbanChange()" [(ngModel)]="account" class="form-control {{fieldStatusClasses}}" #ibanAccount maxlength="10" max="9999999999">
    </div>
    <div class="ibanInput form-group doChecksumField ">
      <label class="ibanLabel"></label>
      <button class="form-control doChecksumControl fa fa-cog" (click)="generateIBANCodes()"></button>
    </div>
  </div>
</div>
