<app-process-header class="formFixedHeader" title="Introducción de datos"
                    prev="Profesionales" next="Documentación"
                    (btnClicked)="headerClicked($event)"></app-process-header>
<span defaultOverlayTarget></span>
<div class="formScrollableContent">
  <div class="formHeaderContainer text-center">
    <app-form-progress value="65"></app-form-progress>
  </div>

  <!--region Datos bancarios BEGIN-->
  <form class="altamk-form" [formGroup]="bankDataForm">
    <div class="formContainer">
      <app-form-header title="Datos bancarios"></app-form-header>
      <app-form-errors-panel [hidden]="bankDataErrors.length==0" [errors]="bankDataErrors"></app-form-errors-panel>
      <!-- MensualPayment BEGIN -->
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="form-group">
            <label>Forma de pago de la tarjeta</label>
            <div class="row">
              <div class="col-12">
                <div class="row align-content-center btnGroupMensualPayment">
                  <div class="col-4">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(mensualPaymentForm.value=='18,30 €'),'formBorderError':(mensualPaymentForm.invalid && mensualPaymentForm.dirty)}"
                            (click)="mensualPayment1830.click()">18,30 € Mensuales
                    </button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(mensualPaymentForm.value=='30,05 €'),'formBorderError':(mensualPaymentForm.invalid && mensualPaymentForm.dirty)}"
                            (click)="mensualPayment3005.click()">30,05 € Mensuales
                    </button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-chkAltamk"
                            [ngClass]="{'active':(mensualPaymentForm.value=='60,10 €'),'formBorderError':(mensualPaymentForm.invalid && mensualPaymentForm.dirty)}"
                            (click)="mensualPayment6010.click()">60,10 € Mensuales
                    </button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
        <input type="radio" class="form-control altamkHiddenRadio" name="mensualPayment"
               formControlName="mensualPayment"
               #mensualPayment1830
               value="18,30 €">
        <input type="radio" class="form-control altamkHiddenRadio" name="mensualPayment"
               formControlName="mensualPayment"
               #mensualPayment3005
               value="30,05 €">
        <input type="radio" class="form-control altamkHiddenRadio" name="mensualPayment"
               formControlName="mensualPayment"
               #mensualPayment6010
               value="60,10 €">

      </div>
      <!-- MensualPayment END -->
      <!-- ProtectionPLan BEGIN -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Plan de protección personal</label>
            <p class="protectionPlan text-center"><strong>Pagamos tres veces el saldo de su cuenta de Tarjeta Affinity
              Card en caso de
              Fallecimiento o invalidez Absoluta y Permanente del titular y un 10% por cada 30
              días consecutivos de Incapacidad Temporal.</strong></p>
            <div class="row">
              <div class="col-12 text-center">
                <div class="btn-group btnGroupProtectionPlan" data-toggle="buttons">
                  <button class="btn btn-primary btn-chkAltamk"
                          [ngClass]="{'active': protectionPlanForm.value=='Si','formBorderError':(protectionPlanForm.invalid && protectionPlanForm.dirty)}"
                          (click)="protectionPlanYes.click()">
                    Si
                  </button>
                  <button class="btn btn-primary btn-chkAltamk"
                          [ngClass]="{'active': protectionPlanForm.value=='No','formBorderError':(protectionPlanForm.invalid && protectionPlanForm.dirty)}"
                          (click)="protectionPlanNo.click()">
                    No
                  </button>
                </div>
              </div>
            </div>
            <input type="radio" class="form-control altamkHiddenRadio" name="protectionPlan" #protectionPlanYes
                   value="Si"
                   formControlName="protectionPlan">
            <input type="radio" class="form-control altamkHiddenRadio" name="protectionPlan" #protectionPlanNo
                   value="No"
                   formControlName="protectionPlan">
            <p class="protectionPlanDown text-center">Recuerde que el Plan de Protección Personal es un Plan de Seguros
              opcional que en
              cualquier momento puede cancelar. En las Condiciones Generales de la Tarjeta figura
              el Extracto de Condiciones del Plan de Protección.</p>
          </div>
        </div>
      </div>

      <div class="row advicesCheckBlock">
        <div class="offset-2 col-10">
          <label class="custom-control custom-checkbox altamkSimpleCheckbox">
            <input type="checkbox" class="form-control custom-control-input" name="disableThirdPartyInfo" #disableThirdPartyInfo value="No"
                   formControlName="disableThirdPartyInfo">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">No deseo recibir información de terceros</span>
          </label>
        </div>
        <div class="offset-2 col-10">
          <label class="custom-control custom-checkbox altamkSimpleCheckbox">

            <input type="checkbox" class="form-control custom-control-input" name="disableAdvices" #disableAdvices value="No"
                   formControlName="disableAdvices">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">No deseo recibir información publicitaria</span>
          </label>
        </div>
      </div>
      <!-- ProtectionPLan END -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Datos bancarios</label>
            <app-iban-form-component #ibanField (ibanChange)="setIBANField($event);"
                                     [IBANValue]="ibanFormValue"></app-iban-form-component>
          </div>
        </div>
      </div>
    </div>

  </form>

  <!--endregion Datos bancarios END-->

  <div class="formFooterContainer row">
    <div class="col-12 text-right">
      <app-form-button icon="fa-arrow-right" text="continuar" (click)="headerClicked('next');"></app-form-button>
    </div>
  </div>
  <div class="footerBottomSeparator"></div>
  <div class="footerBottomSeparator"></div>
</div>
<app-footer class="formFixedFooter" leftTitle="Cancelar solicitud" (leftClick)="tryToCancelDraftRequest()" rightTitle="Guardar borrador" (rightClick)="tryToSaveAsDraft()"></app-footer>
