<div class="row errorRow">
  <!--<div class="col-12 errorsTitleContainer">
    <h2 class="errorsTitle">Se han encontrado los siguientes errores</h2>
  </div>-->
  <div class="col-12 errorsContainer">
    <ul class="errorsList">
      <li *ngFor="let error of errors" class="errorsEntry">{{error}}</li>
    </ul>
  </div>
</div>
